{% include 'post/base.html' %}

{% block body %}
<div class="container">
    <h1><i>hi, {{user.username}}</i></h1>
</div>
<div class="container-md">
    <h2 style="text-align: center;"><i>your posts</i></h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th class="w-50">Title</th>
            <th>Published Date</th>
            <th>Action</th>

        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'post:details' post.id %}">{{post.title}}</a></td>
            <td>{{post.published_date.date}}</td>

            <td><button type="button" class="btn btn-primary"><a
                        href="{% url 'post:edit_post' post.id %}">Edit</a></button>
                <button type="button" class="btn btn-danger"><a
                        href="{% url 'post:delete_post' post.id %}">Delete</a></button>
            </td>

        </tr>


        {% endfor %}
    </table>

</div>

{% endblock body %}